.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 150px;
}

.info_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 90%;
}

.info_text .subtitle {
  color: white;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 7px 20px;
  border-radius: 30px;
  background: #86868634;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 8px;
  height: 8px;
  background: #10b981;
  border-radius: 50%;
  margin-right: 7px;
}

.subtitle strong {
  margin-left: 4px;
  font-family: var(--sora);
  font-weight: 600;
}

.info_text h2 {
  font-family: var(--sora);
  font-size: 60px;
  color: white;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 75px;
  text-align: center;
  max-width: 1100px;
  text-wrap: balance;
}

.info_text p {
  font-size: 20px;
  color: rgb(209, 209, 209);
  font-weight: 400;
  line-height: 1.7em;
  text-align: center;
  max-width: 1000px;
  text-wrap: balance;
}

.caripelas {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.caripelas .cards {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  will-change: transform, opacity;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.info_caripela {
  background: linear-gradient(
    0deg,
    rgba(11, 11, 11, 1) 0%,
    rgba(11, 11, 11, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 30px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.info_caripela:hover {
  opacity: 1;
}

.cards span {
  font-family: var(--sora);
  color: var(--title);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.1em;
}

.caripelas .cards img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .caripelas .cards {
    width: 30%;
  }

  .caripelas .cards img {
    border-radius: 20px;

    object-fit: fill;
  }

  .info_text h2 {
    font-size: 55px;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 20px;
    padding-bottom: 100px;
  }

  .subtitle strong {
    font-family: var(--inter);
    font-weight: 400;
  }

  .info_text p {
    font-size: 18px;
    text-wrap: balance;
    text-align: center;
  }
  .caripelas {
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
    width: 90%;
  }
  .caripelas .cards {
    width: 100%;
    box-shadow: 0px 0px 40px -9px rgba(0, 0, 0, 0.75);
  }
}

@media (max-width: 650px) {
  .info_text h2 {
    display: none;
  }
  .info_text p {
    display: none;
  }

  .caripelas .cards {
    width: 100%;
  }
}
