.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 0px 100px 0px;
}

.info_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 90%;
}

.info_text .subtitle {
  color: var(--subtitle);
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.02em;
}

.info_text h2 {
  font-family: var(--sora);
  font-size: 60px;
  color: white;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 75px;
  text-align: center;
  max-width: 1100px;
  text-wrap: balance;
}

.info_text p {
  font-size: 20px;
  color: rgb(209, 209, 209);
  font-weight: 400;
  line-height: 1.7em;
  text-align: center;
  max-width: 900px;
}

.caripelas {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.caripelas .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  will-change: transform, opacity;
}

.cards span {
  color: rgb(209, 209, 209);
  font-family: var(--sora);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.caripelas .cards img {
  border-radius: 30px;
  width: 350px;
  height: 450px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .caripelas .cards img {
    border-radius: 20px;
    width: 90% !important;
    height: auto !important;
  }
}

@media (max-width: 700px) {
  .container {
    gap: 20px;
  }

  .info_text p {
    font-size: 18px;
  }
  .caripelas {
    flex-direction: column-reverse;
    gap: 15px;
  }
  .caripelas .cards {
    gap: 10px;
  }

  .cards span {
    display: none !important;
  }
}

@media (max-width: 470px) {
  .info_text h2 {
    font-size: 40px;
    line-height: normal;
  }
}
