.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 100px 0px 200px 0px;
}

.info_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info_text .subtitle {
  color: var(--subtitle);
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.02em;
}

.info_text h2 {
  font-family: var(--sora);
  font-size: 55px;
  color: white;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 75px;
  text-align: center;
  max-width: 1100px;
  text-wrap: balance;
}

.info_text p {
  font-size: 20px;
  color: rgb(209, 209, 209);
  font-weight: 400;
  line-height: 1.7em;
  text-align: center;
  max-width: 900px;
}

.caripelas {
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow-y: hidden;
}

.caripelas .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.cards span {
  color: rgb(209, 209, 209);
  font-family: var(--sora);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.caripelas .cards img {
  border-radius: 30px;
}

@media (max-width: 1300px) {
  .container {
    flex-direction: column-reverse;
    max-width: 90%;
    row-gap: 40px;
  }

  .container .image_about {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .container .image_about img {
    width: 100% !important;
    height: auto !important;
    border-radius: 20px;
  }
}

@media (max-width: 650px) {
  .container {
    padding: 50px 0px;
    row-gap: 30px;
  }

  .info_text h2 {
    font-size: 40px;
    line-height: 55px;
  }
}

@media (max-width: 470px) {
  .info_text h2 {
    font-size: 35px;
    line-height: 50px;
  }
}
