/* Container */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
  padding: 200px 0px 100px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  gap: 10px;
}

.content .subtitle {
  color: white;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: #86868634;
  padding: 7px 20px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  gap: 7px;
}

.content h1 {
  font-family: var(--sora);
  font-size: 60px;
  color: var(--title);
  font-weight: 400;
  letter-spacing: -0.06em;
  text-align: center;
  text-wrap: balance;
}

.content p {
  font-size: 18px;
  color: var(--text);
  font-weight: 400;
  text-align: center;
  line-height: 1.7em;
  max-width: 1000px;
  margin-top: 10px;
}

.content strong {
  color: white;
}

.container_button {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_button a {
  border: none;
  background-color: #5e60f7;
  box-shadow: 0 0 25px rgba(99, 102, 241, 0.6);
  font-family: var(--inter);
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  padding: 16px 20px;
  border-radius: 15px;
  letter-spacing: 0.2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.submitButton {
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #5e60f7;
  box-shadow: 0 0 25px rgba(99, 102, 241, 0.6);
  font-family: var(--inter);
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  padding: 16px 20px;
  border-radius: 15px;
  letter-spacing: 0.2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Container */

/* Modal */
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  color: var(--text);
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modalForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.inputForm {
  width: 100%;
  padding: 12px 14px;
  border: 1.5px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fff;
  color: white;
  transition: all 0.25s ease;
  outline: none;
  background: transparent;
}

.inputForm::placeholder {
  color: #9ca3af;
}

.inputForm:focus {
  border-color: #8e8ef647;
  box-shadow: 0 0 0 3px rgba(94, 95, 248, 0.25);
}

/* Modal */

/* Pymes */
.pymesContainer {
  width: 90%;
  gap: 2rem;
  margin: 3rem;
  color: white;
  padding: 1.5rem;
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title,
.note {
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.608);
}

.pymesCards {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: stretch;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  min-height: 200px;
  border-radius: 12px;
  padding: 1.5rem;
  border-radius: 16px;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.card h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.4;
  opacity: 0.85;
}

.card span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  padding: 10px;
  width: 40px;
  height: 40px;
  background: #6366f1;
  box-shadow: 0 0 25px rgba(99, 102, 241, 0.6);
  border-radius: 12px;
}
/* Pymes */

/* How is Works */
.stepsContainer {
  border-radius: 16px;
  padding: 2rem;
  text-align: start;
  color: white;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.stepsContainer h1 {
  font-family: var(--sora);
  font-size: 60px;
  color: var(--title);
  font-weight: 400;
  letter-spacing: -0.06em;
  text-align: center;
  text-wrap: balance;
}

.stepsCards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1.5rem;
  position: relative;
}

.stepCard:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 20%;
  right: -1rem;
  width: 1rem;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.stepCard:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 20%;
  right: -1rem;
  width: 10px;
  height: 10px;
  background: #6366f1;
  border-radius: 50%;
  transform: translateY(-50%) translateX(100%);
}

.stepCard {
  flex: 1;
  background: transparent;
  border: 1px solid rgba(99, 101, 241, 0.1);
  background: rgba(109, 111, 235, 0.09);
  border-radius: 12px;
  padding: 35px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  position: relative;
}

.stepCard span {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5e60f7;
  box-shadow: 0 0 25px rgba(99, 102, 241, 0.6);
  border-radius: 50%;
  top: -15px;
  left: 20px;
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
}

.icon {
  padding: 13px;
  font-size: 2.5rem;
  background: rgba(109, 111, 235, 0.336);
  color: #5e60f7;
  margin-bottom: 0.8rem;
  border-radius: 12px;
}

.stepCard h3 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.stepCard p {
  font-size: 0.8rem;
  line-height: 1.4;
  opacity: 0.6;
}
/* How is Works */

@media (max-width: 768px) {
  .stepsCards {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .pymesCards {
    flex-direction: column;
  }
}

@media (max-width: 470px) {
  .container {
    padding: 150px 0px 50px 0px;
  }
  .content h1 {
    font-size: 40px;
    line-height: 55px;
  }

  .stepsContainer h1 {
    font-size: 40px;
    line-height: 55px;
  }

  .container_button a {
    text-align: center;
    line-height: 30px;
  }
}

@media (max-width: 768px) {
  .stepsCards {
    flex-direction: column;
    gap: 3rem;
  }

  .stepCard:not(:last-child)::after {
    width: 2px;
    height: 3rem;
    right: 50%;
    top: auto;
    bottom: -3rem;
    transform: translateX(50%);
  }

  .stepCard:not(:last-child)::before {
    top: auto;
    bottom: -2.9rem;
    right: 50%;
    transform: translate(50%, 100%);
  }
}
