.container {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.info_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info_text .subtitle {
  color: var(--violet);
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.02em;
}

.info_text h2 {
  font-family: var(--sora);
  font-size: 55px;
  color: var(--black);
  font-weight: 500;
  letter-spacing: -0.04em;
  max-width: 1000px;
  text-wrap: balance;
  text-align: center;
}

.info_text p {
  font-size: 18px;
  color: var(--black);
  font-weight: 400;
  text-align: center;
  line-height: 1.7em;
}

.card_container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid rgb(206, 206, 206);
  width: 100%;
  max-width: 380px;
  min-height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  padding: 20px 20px;
  text-align: center;
}

.card span {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card h3 {
  font-family: var(--sora);
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.5em;
}

.card p {
  color: grey;
  font-weight: 400;
  line-height: 1.6em;
  font-size: 16px;
  letter-spacing: 0px;
}

@media (max-width: 1300px) {
  .container {
    padding: 0px 0px;
    max-width: 90%;
    row-gap: 40px;
  }

  .card_container {
    flex-direction: column;
    width: 100%;
  }

  .card {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 650px) {
  .container {
    row-gap: 30px;
  }

  .info_text {
    align-items: flex-start;
  }

  .info_text h2 {
    font-size: 40px;
    line-height: 50px;
    text-align: start;
  }

  .info_text p {
    text-align: start;
  }
}

@media (max-width: 470px) {
  .info_text h2 {
    font-size: 35px;
    line-height: 50px;
  }
}
