.container {
  width: 100%;
  padding: 100px 0px;
}

.total_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1350px;
}

.title span {
  color: grey;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.title h2 {
  font-family: var(--sora);
  font-size: 55px;
  color: white;
  font-weight: 500;
  letter-spacing: -0.04em;
  text-wrap: balance;
  text-align: start;
}

.title p {
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 1.7em;
  text-align: start;
  text-wrap: balance;
  max-width: 400px;
}

.card_container {
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scrollbar-width: none;
  position: relative;
}

.carrucel {
  display: flex;
  gap: 30px;
  padding-left: 280px;
  padding-right: 200px;
}

.card {
  border: 1px solid rgb(32, 32, 32);
  min-width: 420px;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  will-change: transform;
}

.card span {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid rgb(32, 32, 32);
  padding: 25px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.card h3 {
  font-family: var(--sora);
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.5em;
}

.card p {
  color: grey;
  font-weight: 400;
  line-height: 1.6em;
  font-size: 16px;
  letter-spacing: 0px;
  max-width: 90%;
  text-wrap: balance;
}

/* Media Queries */
@media (max-width: 1300px) {
}

@media (max-width: 650px) {
}

@media (max-width: 470px) {
}
