.container {
  width: 100%;
}

.total_content {
  padding: 200px 0px 150px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 90%;
}

.title h2 {
  font-family: var(--sora);
  font-size: 60px;
  color: white;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 75px;
  text-align: center;
  max-width: 1100px;
  text-wrap: balance;
}

.title p {
  font-size: 18px;
  color: rgb(209, 209, 209);
  font-weight: 400;
  line-height: 1.7em;
  text-align: center;
  max-width: 1000px;
}

.card_container {
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  position: relative;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.carrucel {
  display: flex;
  gap: 20px;
  padding-left: 280px;
  padding-right: 200px;
}

.card {
  min-width: 420px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  will-change: transform;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.card span {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid rgb(32, 32, 32);
  background-color: #6366f1;
  padding: 25px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.card h3 {
  font-family: var(--sora);
  color: var(--title);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.5em;
  text-wrap: balance;
}

.card p {
  color: var(--text);
  font-weight: 400;
  line-height: 1.6em;
  font-size: 16px;
  letter-spacing: 0px;
}

/* Media Queries */
@media (max-width: 1300px) {
  .total_content {
    padding: 150px 0px;
  }

  .title {
    width: 90%;
  }

  .title h2 {
    font-size: 55px;
    line-height: normal;
  }
}

@media (max-width: 1120px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }

  .total_content {
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .title p {
    max-width: 500px;
  }

  .card_container {
    mask-image: none;
  }

  .carrucel {
    display: flex;
    gap: 20px;
    padding-left: 70px;
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .carrucel {
    padding-left: 40px;
    padding-right: 40px;
  }

  .container {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .total_content {
    padding: 80px 0px 80px 0px;
  }
  .title h2 {
    font-size: 50px;
    line-height: normal;
  }

  .carrucel {
    padding-left: 30px;
    padding-right: 20px;
  }

  .card {
    width: 320px !important;
    min-width: auto !important;
  }
}

@media (max-width: 470px) {
  .title {
    gap: 10px;
  }

  .title h2 {
    font-size: 40px;
  }
}
