.container {
  width: 100%;
  height: auto;
  background-image: url('./../../assets/images/background.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 0px;
}

.titles .subtitle {
  color: var(--subtitle);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.titles h1 {
  font-family: var(--sora);
  font-size: 70px;
  color: var(--title);
  font-weight: 400;
  letter-spacing: -0.04em;
  max-width: 1000px;
  text-wrap: balance;
  text-align: center;
}

.titles p {
  font-size: 18px;
  color: var(--text);
  font-weight: 400;
  max-width: 500px;
  text-align: center;
  line-height: 1.7em;
}

.button_contact {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.titles .button_contact button {
  border: none;
  background-color: var(--button);
  font-family: var(--inter);
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  padding: 16px 20px;
  border-radius: 15px;
  letter-spacing: 0.2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.solutions {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}

.solutions .card {
  width: 100%;
  max-width: 380px;
  padding: 25px;
  background-color: rgba(248, 248, 249, 0.1);
  border-radius: 20px;
}

.solutions .card span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  padding: 6px;
  background: #c1a6de;
  border-radius: 6px;
}

.card h3 {
  font-family: var(--sora);
  color: var(--title);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.1em;
  margin: 25px 0px 10px 0px;
}

.card p {
  color: var(--text);
  font-weight: 400;
  line-height: 1.6em;
  font-size: 16px;
  letter-spacing: 0px;
}

.card button {
  border: none;
  background-color: transparent;
  font-family: var(--inter);
  color: var(--title);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .titles {
    width: 90%;
  }

  .titles h1 {
    font-size: 60px;
  }

  .solutions {
    flex-direction: column;
    row-gap: 20px;
  }

  .solutions .card {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 650px) {
  .titles h1 {
    font-size: 50px;
  }
}

@media (max-width: 470px) {
  .titles {
    gap: 15px;
  }

  .titles h1 {
    font-size: 40px;
  }

  .titles p {
    text-wrap: balance;
  }
}
