.container {
  width: 100%;
  height: auto;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: auto;
  overflow: hidden;
  padding: 200px 0px 200px 0px;
}

.titles .subtitle {
  color: white;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: #86868634;
  padding: 7px 20px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  gap: 7px;
}

.circle {
  width: 8px;
  height: 8px;
  background: #10b981;
  border-radius: 50%;
}

.titles h1 {
  font-family: var(--sora);
  font-size: 70px;
  color: var(--title);
  font-weight: 400;
  letter-spacing: -0.06em;
  max-width: 1000px;
  text-wrap: balance;
  text-align: center;
}

.titles p {
  font-size: 18px;
  color: var(--text);
  font-weight: 400;
  max-width: 500px;
  text-align: center;
  line-height: 1.7em;
}

.button_contact {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.titles .button_contact button {
  border: none;
  background-color: #5e60f7;
  font-family: var(--inter);
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  padding: 16px 20px;
  border-radius: 15px;
  letter-spacing: 0.2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.titles .ranking {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
  justify-content: space-evenly;
  margin-top: 70px;
}

.titles .ranking div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles .ranking div span {
  font-size: 25px;
  font-family: var(--sora);
  font-weight: 600;
  color: white;
  letter-spacing: -1px;
}

@media (max-width: 1500px) {
  .container {
    width: 100%;
  }
  .titles {
    width: 90%;
  }

  .titles h1 {
    font-size: 60px;
  }
}

@media (max-width: 850px) {
  .container {
    background-size: cover;
  }

  .titles {
    min-height: auto;
    padding: 150px 0px 100px 0px;
  }

  .titles h1 {
    font-size: 50px;
  }
  .titles .ranking {
    display: none;
  }
}

@media (max-width: 470px) {
  .titles {
    gap: 15px;
  }

  .titles h1 {
    font-size: 40px;
  }

  .titles p {
    text-wrap: balance;
  }
}
